# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [36]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data

city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,61.81,79,17,13.11,few clouds
1,1,Takoradi,GH,4.8845,-1.7554,78.12,83,70,6.35,broken clouds
2,2,Cockburn Town,TC,21.4612,-71.1419,81.37,71,31,13.40,scattered clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,69.55,85,54,4.00,broken clouds
4,4,Albany,US,42.6001,-73.9662,28.81,81,28,3.65,scattered clouds
5,5,Atuona,PF,-9.8000,-139.0333,77.68,75,3,16.22,clear sky
6,6,Hilo,US,19.7297,-155.0900,74.93,84,100,6.91,moderate rain
7,7,Rikitea,PF,-23.1203,-134.9692,74.34,84,100,13.47,overcast clouds
8,8,Huizhou,CN,23.0833,114.4000,81.14,63,100,2.53,overcast clouds
9,9,Vostok,RU,46.4856,135.8833,25.34,57,16,5.21,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [37]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like on your vacation?'))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like on your vacation?'))

What is the minimum temperature you would like on your vacation?60
What is the maximum temperature you would like on your vacation?95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [40]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<max_temp) & (city_data_df['Max Temp']>min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,61.81,79,17,13.11,few clouds
1,1,Takoradi,GH,4.8845,-1.7554,78.12,83,70,6.35,broken clouds
2,2,Cockburn Town,TC,21.4612,-71.1419,81.37,71,31,13.40,scattered clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,69.55,85,54,4.00,broken clouds
5,5,Atuona,PF,-9.8000,-139.0333,77.68,75,3,16.22,clear sky
...,...,...,...,...,...,...,...,...,...,...
658,658,Neiafu,TO,-18.6500,-173.9833,79.48,89,75,8.05,broken clouds
660,660,Tezu,IN,27.9167,96.1667,78.33,29,0,3.38,clear sky
662,662,Kasiri,SL,8.9412,-13.1148,77.16,85,94,2.98,light rain
663,663,Adrar,MR,20.5022,-10.0711,72.79,27,66,10.49,broken clouds
664,664,Altea,ES,38.5989,-0.0514,68.79,60,75,7.67,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [41]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [42]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

              City Country  Max Temp Current Description      Lat       Lng
0         Hermanus      ZA     61.81          few clouds -34.4187   19.2345
1         Takoradi      GH     78.12       broken clouds   4.8845   -1.7554
2    Cockburn Town      TC     81.37    scattered clouds  21.4612  -71.1419
3     Puerto Ayora      EC     69.55       broken clouds  -0.7393  -90.3518
5           Atuona      PF     77.68           clear sky  -9.8000 -139.0333
..             ...     ...       ...                 ...      ...       ...
658         Neiafu      TO     79.48       broken clouds -18.6500 -173.9833
660           Tezu      IN     78.33           clear sky  27.9167   96.1667
662         Kasiri      SL     77.16          light rain   8.9412  -13.1148
663          Adrar      MR     72.79       broken clouds  20.5022  -10.0711
664          Altea      ES     68.79       broken clouds  38.5989   -0.0514

[350 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [43]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,61.81,few clouds,-34.4187,19.2345,
1,Takoradi,GH,78.12,broken clouds,4.8845,-1.7554,
2,Cockburn Town,TC,81.37,scattered clouds,21.4612,-71.1419,
3,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,
5,Atuona,PF,77.68,clear sky,-9.8000,-139.0333,
...,...,...,...,...,...,...,...
658,Neiafu,TO,79.48,broken clouds,-18.6500,-173.9833,
660,Tezu,IN,78.33,clear sky,27.9167,96.1667,
662,Kasiri,SL,77.16,light rain,8.9412,-13.1148,
663,Adrar,MR,72.79,broken clouds,20.5022,-10.0711,
664,Altea,ES,68.79,broken clouds,38.5989,-0.0514,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [44]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [47]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,61.81,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Takoradi,GH,78.12,broken clouds,4.8845,-1.7554,Raybow International Hotel
2,Cockburn Town,TC,81.37,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
3,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Atuona,PF,77.68,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
658,Neiafu,TO,79.48,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
660,Tezu,IN,78.33,clear sky,27.9167,96.1667,Circuit House
662,Kasiri,SL,77.16,light rain,8.9412,-13.1148,
663,Adrar,MR,72.79,broken clouds,20.5022,-10.0711,
664,Altea,ES,68.79,broken clouds,38.5989,-0.0514,Albir Playa Hotel & Spa

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [55]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']


# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,61.81,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Takoradi,GH,78.12,broken clouds,4.8845,-1.7554,Raybow International Hotel
2,Cockburn Town,TC,81.37,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
3,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Atuona,PF,77.68,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
653,Kushima,JP,66.74,overcast clouds,31.4583,131.2333,Hanaoka
657,Coxim,BR,72.93,overcast clouds,-18.5067,-54.7600,Rancho Da Curica
658,Neiafu,TO,79.48,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
660,Tezu,IN,78.33,clear sky,27.9167,96.1667,Circuit House
664,Altea,ES,68.79,broken clouds,38.5989,-0.0514,Albir Playa Hotel & Spa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [61]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file , index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [62]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [63]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 61.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Raybow International Hotel</dd>\n<dt>City</dt><dd>Takoradi</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>\n<dt>City</dt><dd>Cockburn Town</dd>\n<dt>Country</dt><dd>TC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 69.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 74.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kempinski Hotel Huizhou</dd>\n<dt>City</dt><dd>Huizhou</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 62.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Port Blair - Premium Hotel Near the Airport | Idyllic Island Experience Vacation</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.64 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [64]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.4187   19.2345
1    4.8845   -1.7554
2   21.4612  -71.1419
3   -0.7393  -90.3518
5   -9.8000 -139.0333
6   19.7297 -155.0900
7  -23.1203 -134.9692
8   23.0833  114.4000
10 -34.5322   20.0403
11  11.6667   92.7500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [71]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))